$main-blue: #1b3764;
$main-blue-opacity: #1b37647e;
$accent-yellow: #ffd363;
$accent-yellow-hover: #f5c650;
$additional-blue: #f4f8ff;
$letter-spacing: 0.56px;
$accent-grey: #aeafb0;
$accent-light-grey: #d9d9d9;
